@import 'antd/dist/antd.css';
.answer{
    width: 1366px;
    height: 768px;
    margin: 0 auto;
    text-align: left;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #1a2f40;
}
.answer .answer-left{
    position: absolute;
    width: 50%;
    left: 10%;
}
.answer .answer-right{
    float: right;
    width: 40%;
    color: #ffffff;
    margin-top: 60px;
}
.answer .answer-right .ant-timeline-item-content{
    color: #ffffff;
}

.answer .title{
    font-size: 40px;
    color:rgb(6, 172, 172);
    margin: 40px 0;
}

.answer .question .options-item{
    display: flex;
    justify-content: left;
    align-items: baseline;
}

.answer .question .ant-radio-wrapper{
    margin: 20px 40px;
}

.answer .question .ant-radio-inner,.ant-radio-input,.ant-radio-checked{
    width: 30px;
    height: 30px;
}

.ant-radio-inner::after{
    top: 5px;
    left: 5px;
    width: 18px;
    height: 18px;
}
.answer .question span{
    color: #ffffff;
    font-size: 20px;
}

.answer .actions{
    margin-top: 40px;
}

.answer .actions button{
    margin: 0 20px;
}